<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kitabını Oyla </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h2 class="navbar-brand" ><img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Closed_Book_Icon.svg/1200px-Closed_Book_Icon.svg.png" width="30" height="30" />Kitabını Oyla</h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-success " asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-danger" asp-area="" asp-controller="Kitap" asp-action="Index2">Puan Listesi</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-info " asp-area="" asp-controller="Home" asp-action="Hakkimizda">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-secondary" style="margin-right:350px" asp-area="" asp-controller="Home" asp-action="Privacy">Site Hakları</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-warning" asp-area="" asp-controller="Home" asp-action="KitapAraa">Kitap Ara</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-2">
            <div class="row container-fluid text-primary">

                <div class="col-md-3 custom-control">
                    @await Component.InvokeAsync(name: "KategoriList")
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Tebrikler!!!!</h4>
                            @TempData["message"]
                        </div>
                    }
                </div>
                <div class="col-9"> @RenderBody()</div>

            </div>

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CodeOmega(Hsyn AKAR) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Site Hakları</a>
            <div style="float:right">
                Sosyal Medya: <a href="https://www.instagram.com/code0mega/"><img src="https://www.freepnglogos.com/uploads/instagram-logo-png-transparent-0.png" width="25px" height="25px" /></a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)



</body>
</html>
