@{
    ViewData["Title"] = "HAKKIMIZDA";
}
<h3>@ViewData["Title"]</h3>


<div class="container text-dark">
    <h4>Bu Site 2020 yılında NKU ÇMF'ye Staj olarak <a href="">Hüseyin AKAR </a>tarafından kodlanmış ve dizayn edilmiştir.</h4>
           <h5>1993 yılında Çanakkalede dünyaya spawn olan Hüseyin öğretim hayatını Afyon'da iktisat okumayla devam ettirirken asıl mesleğinin bu olmaması gerektiğini düşünerek çocukluk hayali olan 
    bilgisayar müh. için okulu bırakmış ve 2016 yılında NKU ÇMF Bilgisayar Müh. kazanarak hayatına yeni bir başlangıç yapmıştır.</h5>
    <p>Bir çok alanda kendini yetiştirip yeni projeler geliştirmiş ve günümüze yapay zeka, kodlanabilir eşyalar, el hareketi ile kontrollü araba ve bir çok yenilik katmıştır.</p>
    <br />
    <p>Bu yazıları yazarken aynı zamanda youtube için video çekiyor ve askerliğe hazırlanıyor... Umarım daha büyük projelerde de kendi ismimi görürüm.</p>
    
    
    <h5>Site içerisinde bulunan bütün materyaller ücretsiz ve diğer kullanıcılar tarafından kullanmaya açıktır.</h5>

</div>