<div class="container container-fluid" >
    <p class=" align-text-bottom">Aradığın Sayfa Bulunamadı...</p>
    <p class="active">Hata Kodu : @ViewBag.Code</p>

    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">AnaSayfaya Dön</a>


</div>