@{
    ViewData["Title"] = "HAKLAR";
}
<h3 >@ViewData["Title"]</h3>


    <div class="container">
        <img style="margin-bottom:200px; float:right;" src="https://vignette.wikia.nocookie.net/minecraft/images/4/41/Chest.gif/revision/latest/top-crop/width/360/height/450?cb=20191220013630" />


    <h5>Bu site sevdiğiniz kitapları öne çıkartmak ve kitaplar hakkında sohbet etmek için tasarlanmıştır.</h5>

    <p>Sitenin tüm hakları gizli olup Hsyn AKAR (Code0Mega) tarafından ıssız bir adaya gömülmüştür.</p>
</div>